body{
    display: block;
    background-color: #dbdbdb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-style: oblique;
    color: #3F729B;
    -webkit-text-stroke: 0.5px black;
}
img{
    width: 100%;
}